In [10]:
import pandas as pd
import numpy as np

df_jobs = pd.read_csv('../output/merged_all_scraped_jobs.csv')

In [11]:
df_jobs['city'] = df_jobs['city'].replace('Vienna', 'Wien')
df_jobs['annual_salary'] = df_jobs['annual_salary'].replace('keine Angabe', pd.NA)
df_jobs['annual_salary'] = pd.to_numeric(df_jobs['annual_salary'], errors='coerce')
df_jobs = df_jobs[(df_jobs['annual_salary'] > 20000) & (df_jobs['annual_salary'] < 150000)]
df_jobs = df_jobs[df_jobs['job_title'] != 'Kein Jobtitel']

In [12]:
df_jobs.to_csv('../output/ScrapedJobOffersAustriaCleaned.csv', index=False)

In [13]:
df_jobs.head(2000)

,job_title,city,country,annual_salary
0,IT Data Analyst (m/w/d) marktführendes Logisti...,Wien,Austria,50500.0
1,Data Analyst (w/m/x),Wien,Austria,70000.0
2,Data Analyst (w/m/x),Wien,Austria,70000.0
3,Berufspraktikum mit Schwerpunkt Data Analytics...,Wien,Austria,26754.0
4,Data Analytics Specialist (m/w/x),Wien,Austria,40000.0
...,...,...,...,...
1673,"SENIOR CONSULTANT SAP HANA, BUSINESS INTELLIGE...",Frankfurt,Germany,64000.0
1674,Data Scientist / AI Engineer (mwd),Frankfurt,Germany,77000.0
1675,Data Scientist / KI-Expert:in im Team Advanced...,Frankfurt,Germany,78000.0
1676,Data Scientist / Data Engineer (m/w/d),Frankfurt,Germany,73000.0
1677,"Senior Full Stack Entwickler:in Java, Spring B...",Frankfurt,Germany,77000.0